networks:
  postgres:
    name: "${COMPOSE_PROJECT_NAME}"

services:

  # ---------------------------------------------------------------------------
  # PostgreSQL Database

  postgres:
    container_name: "${COMPOSE_PROJECT_NAME}-db"
    hostname: postgres
    build: .
    image: bff-afirms/postgres:18.1
    restart: unless-stopped
    # Restrict security privileges
    security_opt:
      - "no-new-privileges=true"
    cap_drop:
      - ALL
    # Run as the host user, so that when we mount the database files
    # to a local path, they are also owned by the host user
    user: ${USER_GROUP_ID}
    environment:
      # Domain name for TLS certficates
      TLS_DOMAIN:          postgres
      # Ensure we have information about the host user
      USER_GROUP_ID:       ${USER_GROUP_ID:?}
      # Install the database in a custom folder for non-root access
      PGDATA:              /data/postgresql/main
      # Superuser
      POSTGRES_PASSWORD:   ${POSTGRES_PASSWORD:?}
      # Default connection credentials
      PGUSER:              postgres
      PGPASSWORD:          ${POSTGRES_PASSWORD:?}
      # Timezone
      TZ:                  'America/Edmonton'
      # Application-specific credentials
      CUSTOM_PASSWORD:     ${CUSTOM_PASSWORD:?}
    volumes:
      # Required volumes
      - ./data/postgres/db:/data/postgresql                                                    # Database Files
      - ./data/postgres/pgbackrest:/data/pgbackrest                                            # Backups
      - ./data/postgres/certs:/data/certs                                                      # TLS Certs
      - ./data/postgres/log:/data/log                                                           # Log Files
      # Optional volumes
      # - ./config/pg_hba.conf:/etc/postgresql/pg_hba.conf                                     # Authentication
      # - ./config/pgbackrest.conf:/etc/pgbackrest/pgbackrest.conf:ro                          # Backups
      # - ./config/postgresql.conf:/etc/postgresql/postgresql.conf                             # General
      # - ./scripts/docker/01_setup.sh:/usr/local/bin/01_setup.sh                              # Extension Setup
      # - ./scripts/docker/02_applications.sh:/docker-entrypoint-initdb.d/02_applications.sh   # Application setup
      # - ./scripts/sql/:/docker-entrypoint-initdb.d/sql                                       # SQL Scripts
      # - ./scripts/utils/:/docker-entrypoint-initdb.d/utils                                   # Shell Utilities
    networks:
      - "postgres"
    expose:
      - "5432"
    ports: ["5432:5432"]
    healthcheck:
      test: [ "CMD-SHELL", "PGPASSWORD=$$CUSTOM_PASSWORD psql --set=sslmode=require -U custom custom -l"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 4G
        reservations:
          cpus: 1
          memory: 2G
